/* CSS declarations go here */
#login{
	float:top;
	width: 100%;
	background-color: teal;
	height:7%;
}
#sovellusIte{
	vertical-align: center;
	text-align: center;
	width:80%;
	height: 80%;
	float:middle;
	margin-left: 10%;
	margin-right:10%;
	margin-top: 20%;
	border: 1px solid gray;
	border-radius: 12px;
	box-shadow: 10px gray;
}
